root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
ktlint_code_style = android_studio
ktlint_standard_no-wildcard-imports = enabled
ktlint_standard_enum-entry-name-case = disabled

[*.{ts,tsx,js,mjs,json}]
indent_style = space
indent_size = 2

[*.{swift}]
indent_style = space
indent_size = 4
